<!DOCTYPE html>
<html>
<head>
  <title>修改密码</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/teacher/changePasswordPageStyle.css">
</head>

<body>
<div id="changePassword">
  <div id="topBar">
    <img id="bookIMG" src="/pic/teacher/book.png">
    <p id="heading">教师系统</p>
    <ul>
      <li id="teacherHeadList"><img src="/pic/teacher/defaultHead.png" id="teacherHead" />
        <ul id="teacherHeadUL">
          <li class="topbar-item" style="cursor:pointer" v-on:click="changPassword">修改密码</li>
          <li class="topbar-item" style="cursor:pointer" v-on:click="quitLogin">退出登录</li>
        </ul>
      </li>
      <p id="welcomeInfo">衣扬，欢迎您！</p>
    </ul>
  </div>



  <div id="bodyBlock">
      <p id="title">修改密码</p>
      <hr id="upperHr" />
      <div id="modifyDiv">
          <div id="oldPasswordInput">
            <div>原密码：</div>
            <input v-model="oldPW" type="password" name="oldPW">
          </div>
          <p id="errorMessage1">{{ em1 }}</p> 
          <div id="newPasswordInput">
            <div>新密码：</div>
            <input v-model="newPW" type="password" name="newPW">
          </div>
          <p id="errorMessage2">{{ em2 }}</p>
          <div id="newPasswordInputag">
            <div>确认密码：</div>
            <input v-model="confirmPW" type="password" name="confirmPW">
          </div>
          <p id="errorMessage3">{{ em3 }}</p>
          <div>
              <input type="submit" name="ensurePost" id="ensurePost" value="确认提交" v-on:click="checkInput">
              <input type="button" name="back" id="back" value="返回" v-on:click="back">
          </div>
      
      </div>

    
  </div>
</div>
      <script src="/scripts/vue.js"></script>
      <script src="/scripts/axios.min.js"></script>
      <script src="/scripts/jquery-3.3.1.js"></script>
      <script src="/scripts/teacher/changePassword.js"></script>
    
</body>
</html>