@font-face{
  
}

/* main position */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width:1200px; 

  font-family: "Microsoft YaHei", "Century Gothic", cursive;
  color: grey;
  background-color: #EFEBE8;
}


#bodyBlock{
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#bodyTop{
  width: 100%;
  height: 30%;

}

#bodyTop img{
  display: inline;
  width: 10%;
  margin-top: 15%;
  margin-left: 11%;
}

#bodyTop p{
  display: inline-block;
  width: 70%;
  float: right;
  margin-top: 16%;
  margin-right: 9%;

  font-size: 30px;
  letter-spacing: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#bodyBottom{
  width: 50%;
  height: 30%;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;

  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
}

#bodyBottom img{
  width: 12%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  display: inline-block;
}

#bodyBottom input:not(#submitBT){
  display: inline-block;
  width: 70%;
  height: 23px;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 10px;
}

#submitBT{
  width: 30%;
  height: 35px;
  margin-top: 5px;
  margin-left: 35%;

  background-color: #439940;
  color: white;
  cursor: pointer;
  border-color: #059900;
  text-align: center;
  letter-spacing: 5px;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 10px;
}

#usernameInput{
  margin-top: 5px;
  height: 40px;
}

#passwordInput{
  margin-top: 6px;
  height: 40px;
}

#errorMessage1, #errorMessage2{
  
  color: #b3b3b4;
  margin: 6px;
  height: 20px;
  width: 230px;
  margin-left: 60px;
  font-size: 14px;
}

#form1{
  margin-top: -10px;
}