<!DOCTYPE html>
<html>
<head>
  <title>课程签到管理系统</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../css/initialStyle.css">
    <script src="/scripts/jquery-3.3.1.js"></script>
    <script src="/scripts/into.js"></script>
</head>

<body>
  <div id="bodyBlock">
    <img src="pic/bigBook.png"/>
    <p>课程签到管理系统</p>
    <input type="button" name="getIn" id="getIn" value="进入">
    
  </div>
  
</body>
</html>
