@font-face{
  
}

/* main position */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width:1280px; 

  font-family: "Microsoft YaHei", "Century Gothic", cursive;
  color: grey;
  background-color: #EFEBE8;
}

#topBar{
  margin-left: 0px;
  margin-right: 0px;
  height: 80px;
  width: 100%;  
  vertical-align: top;
  
  position: relative;

  background-color: #439940;
}

#bookIMG{  
  float: left;
  margin-left: 30px;
  margin-top: 25px;
}

#heading{
  float: left;
  margin-left: 5px;  
  margin-top: 25px;
  margin-left: 10px;

  font-size: 14pt;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
}

#topBar ul{
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 85%;
  display: inline-block;
  padding: 0;

}


#topBar ul li{  
  background-color: #439940;
  width: 140px;
  height: 100%;
  float: left;
  list-style: none;
  line-height: 500%;

  text-align: center;
}

#topBar ul li a{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

#topBar ul li:hover:not(#teacherHeadList){
  background-color: #059900;
}

#topBar ul li ul{
  display: none;
  margin: 0;
  margin-top: -1px;
}

#topBar ul li:hover ul{
  padding: 0;
  display: block;
}

#welcomeInfo{  
  width: 120px;
  height: 20px;
  display: inline-block;
  float: right;
  margin-top: 30px;

  font-size: 13px;
  color: black;
  text-align: right;

}

#teacherHeadList{
  margin-left: 25%;
}

#teacherHead{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 55px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#bodyBlock{
  width: 85%;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 2%;
  padding-bottom: 2%;
  overflow-y: scroll;

  background-color: white;
  box-shadow: 3px 3px 2px grey;
  border-radius: 10px;
}

#bodyLeft, #bodyRight{
  width: 47%;
  height: auto;
  margin: 1%;
}

#bodyLeft p, #bodyRight p{
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 4%;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #6B6B6B;
}
#bodyLeft{
  float: left;
}

#bodyRight{
  float: right;
}

#bodyBlock table{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#bodyBlock table thead, #bodyBlock table tbody{
  text-align: left;

}

#bodyBlock table thead tr td, #bodyBlock table tbody tr td{
  border: 1px solid grey;
  padding: 10px;
  color: black;
}

